.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  
  }
  body{
    width: 100%;
    background:slategray;
    color: white;
   
  }
  h1{
    border-width: 5px;
    border-style: outset;
    margin: 0  0 50px auto;
    padding: 50px;
    font-size: 4rem;
    text-align: center;
    color: black;
  
  }
  .card{
    align-self: center;
    vertical-align: middle;
    text-align: center;
    margin: auto;
    margin-bottom: 40px;
    padding: 40px;
    border-width: 5px;
    border-style: outset;
    width: 200px;
    color: black;
  }
  form{
    text-align: center;
    vertical-align: middle;
    font-size: 3rem;
  }
  input{
    
    height: 56px;
    position: relative;
    padding: 0px 16px;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    background-color: white;
    color: black;
    
    
  }
  form h1{ 
    color: black;
    font-size: 4rem;
    text-align: center;
    border-width: 5px;
    border-style: outset;
  
  }
  button{
    font-size: 1rem;
    border-width: 5px;
    border-style: outset;
    border-radius: 30px;
    padding: 5px 25px;
    margin-left: 100px;
    color: red;
  }